@import url(https://fonts.googleapis.com/css?family=Work+Sans&display=swap);
._2NlZ3WKmKqs2Y8LC8r1LLX h1 {
  margin-bottom: 0; }

._1VtO2MTm1ES9Wv9-y8SfK2 {
  padding: 1.5rem 1.25rem;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center; }
  ._1VtO2MTm1ES9Wv9-y8SfK2 img {
    margin-bottom: 0; }

@media (min-width: 768px) {
  ._2NlZ3WKmKqs2Y8LC8r1LLX {
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0; }
  ._1VtO2MTm1ES9Wv9-y8SfK2 {
    padding: 2rem;
    width: 30vw;
    height: 100%;
    border-right: 1px solid #ebebeb;
    border-bottom: none;
    flex-direction: column;
    align-items: flex-start; }
    ._1VtO2MTm1ES9Wv9-y8SfK2 img {
      margin-bottom: 0; } }

.zZmmvZgdxNx4F1Z5Rys3z {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .zZmmvZgdxNx4F1Z5Rys3z._1Z2_AloHc9HO7Pn9rlFEwc {
    color: #ebebeb; }

._2XTKcQ6mssVIM4uuynPjZJ {
  flex-grow: 1; }

@media (min-width: 768px) {
  .zZmmvZgdxNx4F1Z5Rys3z {
    display: block; }
  ._2XTKcQ6mssVIM4uuynPjZJ {
    flex-grow: none;
    width: 70vw;
    margin-left: 30vw; } }

._tLWvY1IsKlC2A8fs0zq- h1 {
  margin-bottom: 0.7rem; }

.rzDa9jZIt15KTBqFKN5KS {
  width: 100%;
  margin: 0; }
  .rzDa9jZIt15KTBqFKN5KS img {
    margin-bottom: 0;
    object-fit: cover; }

._1ZD4Xp5DpFSB70b8hlNhwv {
  padding: 1.5rem 1.25rem;
  width: 100%;
  max-width: 768px;
  margin: 0 auto; }
  ._1ZD4Xp5DpFSB70b8hlNhwv h1 {
    margin-bottom: 0.66rem; }
  ._1ZD4Xp5DpFSB70b8hlNhwv h3 {
    margin-bottom: 0; }

._52bYM9ieIN-mriS3hlZGn {
  width: 100%;
  padding: 0 1.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  ._52bYM9ieIN-mriS3hlZGn a {
    padding-bottom: 1.5rem; }
  ._52bYM9ieIN-mriS3hlZGn p:last-child {
    margin-bottom: 0; }

._2EUFVSOad-PflRximL5oY6 {
  padding: 1.5rem 1.25rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto; }

@media (min-width: 768px) {
  ._tLWvY1IsKlC2A8fs0zq- {
    display: flex;
    flex-direction: column; }
  ._52bYM9ieIN-mriS3hlZGn {
    max-width: 800px;
    padding: 0 2rem; }
    ._52bYM9ieIN-mriS3hlZGn span {
      width: 100%;
      margin: 1.5rem auto; }
  .rzDa9jZIt15KTBqFKN5KS img {
    min-width: 100%; }
  ._1ZD4Xp5DpFSB70b8hlNhwv {
    text-align: center;
    padding: 2rem 0; }
    ._1ZD4Xp5DpFSB70b8hlNhwv h1 {
      max-width: 500px;
      margin: 0 auto 0.66rem auto; }
  ._2EUFVSOad-PflRximL5oY6 {
    padding: 1rem 2rem 2rem 2rem; } }

@media (min-width: 1440px) {
  ._1ZD4Xp5DpFSB70b8hlNhwv {
    padding: 3rem 0; }
  ._2EUFVSOad-PflRximL5oY6 {
    padding: 1rem 2rem 3rem 2rem; } }

._1R1HXa6JR_3gnN7PKydiG8 a:hover {
  opacity: 1; }
  ._1R1HXa6JR_3gnN7PKydiG8 a:hover li div._2mt5W9LkT8Fq20EPHNY_- img {
    opacity: 0.8;
    transition: opacity 0.3s ease; }
  ._1R1HXa6JR_3gnN7PKydiG8 a:hover li div.RqE8xlXzShckrCBvrj5hV h2,
  ._1R1HXa6JR_3gnN7PKydiG8 a:hover li div.RqE8xlXzShckrCBvrj5hV h3,
  ._1R1HXa6JR_3gnN7PKydiG8 a:hover li div.RqE8xlXzShckrCBvrj5hV p {
    transform: translateX(10px);
    transition: transform 0.5s ease-out; }

._1R1HXa6JR_3gnN7PKydiG8 ._2mt5W9LkT8Fq20EPHNY_- {
  width: 100%;
  height: 33vh;
  overflow: hidden;
  background-color: #000; }
  ._1R1HXa6JR_3gnN7PKydiG8 ._2mt5W9LkT8Fq20EPHNY_- img {
    object-fit: cover;
    object-position: 50% 50%;
    opacity: 1;
    transition: opacity 0.3s ease; }

._1R1HXa6JR_3gnN7PKydiG8 .RqE8xlXzShckrCBvrj5hV {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem 1.25rem;
  transform: translateX(0px);
  transition: transform 0.3s ease-in;
  border-bottom: 1px solid #ebebeb; }
  ._1R1HXa6JR_3gnN7PKydiG8 .RqE8xlXzShckrCBvrj5hV h2,
  ._1R1HXa6JR_3gnN7PKydiG8 .RqE8xlXzShckrCBvrj5hV h3,
  ._1R1HXa6JR_3gnN7PKydiG8 .RqE8xlXzShckrCBvrj5hV p {
    transform: translateX(0px);
    transition: transform 0.5s ease-out; }

._1R1HXa6JR_3gnN7PKydiG8 li {
  opacity: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-height: 38vh;
  margin-bottom: 0; }

._1R1HXa6JR_3gnN7PKydiG8 h2 {
  margin-bottom: 0.5rem; }

._1R1HXa6JR_3gnN7PKydiG8 h3 {
  margin-bottom: 1rem; }

._1R1HXa6JR_3gnN7PKydiG8 p {
  max-width: 900px; }

@media (min-width: 768px) {
  ._1R1HXa6JR_3gnN7PKydiG8 li {
    min-height: 250px;
    height: 33.333vh;
    flex-direction: row; }
  ._1R1HXa6JR_3gnN7PKydiG8 ._2mt5W9LkT8Fq20EPHNY_- {
    height: 100%; }
    ._1R1HXa6JR_3gnN7PKydiG8 ._2mt5W9LkT8Fq20EPHNY_- img {
      min-width: 100%;
      height: 100%;
      width: auto; }
  ._1R1HXa6JR_3gnN7PKydiG8 .RqE8xlXzShckrCBvrj5hV {
    min-width: 70%; } }

@media (min-width: 1280px) {
  ._1R1HXa6JR_3gnN7PKydiG8 .RqE8xlXzShckrCBvrj5hV {
    padding: 3rem; }
  ._1R1HXa6JR_3gnN7PKydiG8 h3 {
    margin-bottom: 1.2rem; } }

/* Reset provided by https://github.com/gatsbyjs/gatsby-starter-blog via MIT license */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 16px; }

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

b,
strong {
  font-weight: inherit;
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background-color: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0; }

optgroup {
  font-weight: 700; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button; }

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

html {
  box-sizing: border-box;
  overflow-y: scroll; }

* {
  box-sizing: inherit; }

*:before {
  box-sizing: inherit; }

*:after {
  box-sizing: inherit; }

body {
  color: rgba(0, 0, 0, 0.8);
  font-family: Helvetica Neue, sans-serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt"; }

img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1; }

h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1; }

h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1; }

h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1; }

h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1; }

h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: Helvetica Neue, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1; }

hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none; }

ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none; }

dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem; }

table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%; }

fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: rgba(0, 0, 0, 0.2);
  border: none;
  height: 1px; }

address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem; }

b {
  font-weight: bold; }

strong {
  font-weight: bold; }

dt {
  font-weight: bold; }

th {
  font-weight: bold; }

li {
  margin-bottom: calc(1.45rem / 2); }

ol li {
  padding-left: 0; }

ul li {
  padding-left: 0; }

li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2); }

li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2); }

blockquote *:last-child {
  margin-bottom: 0; }

li *:last-child {
  margin-bottom: 0; }

p *:last-child {
  margin-bottom: 0; }

li > p {
  margin-bottom: calc(1.45rem / 2); }

code {
  font-size: 0.85rem;
  line-height: 1.45rem; }

kbd {
  font-size: 0.85rem;
  line-height: 1.45rem; }

samp {
  font-size: 0.85rem;
  line-height: 1.45rem; }

abbr {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help; }

acronym {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help; }

abbr[title] {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.5);
  cursor: help;
  text-decoration: none; }

thead {
  text-align: left; }

td,
th {
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px); }

th:first-child,
td:first-child {
  padding-left: 0; }

th:last-child,
td:last-child {
  padding-right: 0; }

tt,
code {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono", "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em; }

pre code {
  background: none;
  line-height: 1.42; }

code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " "; }

pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: ""; }

@media only screen and (max-width: 480px) {
  html {
    font-size: 100%; } }

body {
  font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
  overflow-x: hidden;
  color: #000;
  font-size: 16px; }

a {
  text-decoration: none;
  color: inherit;
  transition: opacity 0.2s ease; }

a:hover {
  transition: opacity 0.2s ease;
  opacity: 0.5;
  text-decoration-color: inherit; }

ul {
  list-style: none;
  margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif; }

h1,
h2 {
  font-weight: 500; }

h1 {
  font-size: 2rem;
  letter-spacing: -1px;
  line-height: 1.1875; }

h2 {
  font-size: 1.7rem;
  letter-spacing: -0.75px;
  line-height: 1.2; }

h3 {
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 1.1875;
  color: #a0a0a0;
  font-weight: normal; }

p {
  font-size: 1.2rem;
  letter-spacing: -0.5px;
  line-height: 1.5;
  color: #464646; }

@media (min-width: 1280px) {
  h1 {
    font-size: 2rem;
    letter-spacing: -1px;
    line-height: 1.1875; }
  h2 {
    font-size: 1.5rem;
    letter-spacing: -0.75px;
    line-height: 1.1667; }
  h3 {
    font-size: 1rem;
    letter-spacing: -0.5px;
    line-height: 1.1875;
    color: #a0a0a0;
    font-weight: normal; }
  p {
    line-height: 1.4375; } }


/*# sourceMappingURL=styles.chunk.css.map*/