.blog {
  h1 {
    margin-bottom: 0.7rem;
  }
}

.blog__hero {
  width: 100%;
  margin: 0;
  img {
    margin-bottom: 0;
    object-fit: cover;
  }
}

.blog__info {
  padding: 1.5rem 1.25rem;
  width: 100%;
  max-width: 768px;
  margin: 0 auto;
  h1 {
    margin-bottom: 0.66rem;
  }
  h3 {
    margin-bottom: 0;
  }
}

.blog__body {
  width: 100%;
  padding: 0 1.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  a {
    padding-bottom: 1.5rem;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

.blog__footer {
  padding: 1.5rem 1.25rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .blog {
    display: flex;
    flex-direction: column;
  }
  .blog__body {
    max-width: 800px;
    padding: 0 2rem;
    span {
      width: 100%;
      margin: 1.5rem auto;
    }
  }
  .blog__hero {
    img {
      min-width: 100%;
    }
  }
  .blog__info {
    text-align: center;
    padding: 2rem 0;
    h1 {
      max-width: 500px;
      margin: 0 auto 0.66rem auto;
    }
  }
  .blog__footer {
    padding: 1rem 2rem 2rem 2rem;
  }
}

@media (min-width: 1440px) {
  .blog__info {
    padding: 3rem 0;
  }
  .blog__footer {
    padding: 1rem 2rem 3rem 2rem;
  }
}
